In [2]:
import os
import pandas as pd

In [15]:
raw = pd.read_excel(
  '../../data/reference/qualifications_2021census.xlsx',
  sheet_name='quals_con'
).set_index([
            'ONSConstID', 
            'ConstituencyName', 
            'RegNationID', 
            'RegNationName' ]).drop(
    columns={'NatComparator', 
            'RN_pc', 
            'Nat_pc', 
            'ranking_total',
            'rank'}).rename(
    columns={'Con_num': 'value',
            'Con_pc': 'percent'})

raw.columns = raw.columns.str.strip()
raw

                                                                                      variables  \
ONSConstID ConstituencyName          RegNationID RegNationName
E14000530  Aldershot                 E12000008   South East                   No qualifications
                                                 South East                  1 to 4 GCSE passes
                                                 South East               5 or more GCSE passes
                                                 South East                      Apprenticeship
                                                 South East                  2 or more A levels
...                                                                                         ...
W07000080  Cardiff South and Penarth W92000004   Wales                    5 or more GCSE passes
                                                 Wales                           Apprenticeship
                                                 Wales                       2 or more A levels
                                                 Wales          Higher education qualifications
                                                 Wales                     Other qualifications

                                                                                         groups  \
ONSConstID ConstituencyName          RegNationID RegNationName
E14000530  Aldershot                 E12000008   South East                   No qualifications
                                                 South East                     1 or more GCSEs
                                                 South East                     1 or more GCSEs
                                                 South East                      Apprenticeship
                                                 South East                  2 or more A levels
...                                                                                         ...
W07000080  Cardiff South and Penarth W92000004   Wales                          1 or more GCSEs
                                                 Wales                           Apprenticeship
                                                 Wales                       2 or more A levels
                                                 Wales          Higher education qualifications
                                                 Wales                     Other qualifications

                                                                value  \
ONSConstID ConstituencyName          RegNationID RegNationName
E14000530  Aldershot                 E12000008   South East     16148
                                                 South East     10772
                                                 South East     12998
                                                 South East      5148
                                                 South East     15712
...                                                               ...
W07000080  Cardiff South and Penarth W92000004   Wales          11193
                                                 Wales           4142
                                                 Wales          13653
                                                 Wales          34262
                                                 Wales           2572

                                                                 percent
ONSConstID ConstituencyName          RegNationID RegNationName
E14000530  Aldershot                 E12000008   South East     0.178468
                                                 South East     0.119053
                                                 South East     0.143654
                                                 South East     0.056896
                                                 South East     0.173650
...                                                                  ...
W07000080  Cardiff South and Penarth W92000004   Wales          0.122620
                                                 Wales          0.045376
                                                 Wales          0.149569
                                                 Wales          0.375342
                                                 Wales          0.028176

[4011 rows x 4 columns]

In [17]:
os.makedirs('../../data/processed/yff/', exist_ok=True)
raw.to_csv('../../data/processed/yff/census_qualifications.csv')